.app {
    width: 45vw;
    border: 1px solid green;
    padding: 25px;
    margin: 0 auto;
}

.app form {
    display: flex;
    flex-direction: column;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    flex-direction: column;
    padding: 5px;
}